# Built objects
*.o
*.a

# Docs: rebuild with Doxygen from source as necessary
doc/

# Vim backup files (just clutter up the landscape)
*~
*.swp

# The executables
flocking
src/geometry/ptest
src/geometry/vtest

# Development notes, not for public consumption.
dev.log
